#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.actor img {
  width: 300px;
  height: 450xpx;
  border-radius: 5%;
}

.actor-container {
  display: flex;
  justify-content: space-between; /* Adjust alignment as needed */
}

.actor {
  text-align: center; /* Centers image and name */
  margin: 100px;
}

input {
  border: 1px solid #3A4660; /* Dark indigo border */
  background-color: #222; /* Grayish black background */
  color: white; /* Text color */
  padding: 16px 20px; /* Increased padding for a larger input */
  font-size: 18px; /* Larger font size */
  border-radius: 8px; /* Rounded corners */
  outline: none; /* Remove the default focus outline */
}

/* Style for the input element when focused */
input:focus {
  border-color: #657BFF; /* Change border color when focused */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 2rem; /* Increase padding as needed */
  color: white; /* Text color for the header */
  z-index: 999; /* Ensure it's above other content */
}

/* Style for the "Actie" text on the top left */
.header-left {
  margin-left: 4rem; /* Adjust margin as needed */
  font-size: xx-large;
}

/* Style for the SignOut component on the top right */
.header-right {
  margin-right: 4rem; /* Adjust margin as needed */
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60%; /* Take up 60% of the screen width */
  height: 60%; /* Take up 60% of the screen height */
  background-color: rgb(45, 47, 50); /* Make the modal background white or another color */
  border: 1px solid gray; /* Add a border */
  border-radius: 10px; /* Optional: Add some rounded corners */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Optional: Add a shadow for better visual effect */
  margin: 0 auto; /* Center it horizontally */
  padding: 2rem; /* Add some padding */
  position: fixed; /* Fixed positioning */
  top: 50%; /* Start from the middle of the viewport */
  left: 50%; /* Start from the middle of the viewport */
  transform: translate(-50%, -50%); /* Center the modal */
  z-index: 1000; /* Ensure it's on top */
  font-size: 12px;
}

.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
  flex: 1; /* Make it flexible */
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
  flex: 8; /* Allow it to grow */
  overflow-y: auto; /* Add a scrollbar if the content overflows */
}

button {
  margin: 10px;
}

.actie-header {
  font-weight: bold;
  color: #657BFF;
}

.player-name {
  padding: 5px;
}